# Analyse ERA5 demand for NEM

In [1]:
import xarray as xr
import pandas as pd

import matplotlib.pyplot as plt

In [2]:
%cd /g/data/w42/dr6273/work/demand_model/

import functions as fn

/g/data/w42/dr6273/work/demand_model

In [3]:
%load_ext autoreload
%autoreload 2

### Set global variables

In [4]:
RESULTS_PATH = "/g/data/w42/dr6273/work/projects/Aus_energy/model_results/"

In [5]:
MARKET = "NEM" # "NEM" or "EU"

In [6]:
REMOVE_WEEKEND = True

In [7]:
REMOVE_XMAS = True

In [8]:
REMOVE_MONTH = 0 # integer: [1, 12]

In [9]:
MASK_NAME = "pop_dens_mask"

In [10]:
TIME_COLUMNS = []

In [11]:
FIRST_TRAIN_YEAR = 2010
LAST_TRAIN_YEAR = 2019

In [12]:
FIRST_TEST_YEAR = 1959
LAST_TEST_YEAR = 2022

In [13]:
N_FEATURES = "parsimonious"

In [14]:
regions = ["NEM", "QLD", "NSW", "VIC", "SA", "TAS"]

### Load demand and climate data

In [16]:
predictions = fn.read_results(
    "extrapolated", MARKET, regions, MASK_NAME,
    FIRST_TRAIN_YEAR, LAST_TRAIN_YEAR, FIRST_TEST_YEAR, LAST_TEST_YEAR,
    REMOVE_WEEKEND, REMOVE_XMAS, REMOVE_MONTH, N_FEATURES, RESULTS_PATH
)

In [18]:
predictions["NSW"]

,t2m,t2m3,q,t2max,t2m4,msdwswrf,w10,prediction
1959-01-04,292.904607,292.351146,10.183963,296.121422,292.490276,235.340160,6.007419,189939.367628
1959-01-05,294.455309,293.120335,11.235348,298.898968,292.877072,240.777347,3.701544,195404.722001
1959-01-06,296.243787,294.534379,12.404513,302.511708,293.901080,328.838998,2.394181,206266.436894
1959-01-07,294.363170,295.020559,11.541422,297.306252,294.491463,200.448106,3.081799,198105.242022
1959-01-08,293.452509,294.686302,10.831533,296.382980,294.628429,189.942145,3.716499,195268.810449
...,...,...,...,...,...,...,...,...
2022-12-27,295.482282,295.553553,10.964935,300.465671,295.500503,364.392888,3.231640,205758.307990
2022-12-28,295.562816,295.626142,11.385294,300.935108,295.555985,338.085927,2.303274,206442.485035
2022-12-29,292.976621,294.674093,11.841895,296.848573,294.963887,185.532437,2.955222,195194.041483
2022-12-30,293.162622,293.900879,11.846156,296.007845,294.296345,182.443168,2.578790,194339.469509
2022-12-31,294.620444,293.586758,12.237021,296.964165,294.080889,250.202700,2.790215,198951.592124